<div class="card">
    <div class="card-header">
        {{ownerName}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="/pages/{{_id}}" class="btn btn-primary">Visit page</a>
        {{>keywordChipStatic}}
    </div>
</div>